.content-container {
    background-color: #ff99cc;
    /*height: calc(100% - var(--header-height) - var(--fotter-height) );*/
    grid-area: content;
}
.height-width-test2,.height-width-test1{
    margin: 20px 0px;

    padding: 10px ;
    max-width: 700px;
}
.height-width-test1 {
    background-color: tomato;
}
.height-width-test2 {
    background-color: navajowhite;
    box-sizing: content-box;
}