
@mixin article__title ($warning: false)  {
    @if $warning {
        h2 {
            text-align: center;
            text-transform: uppercase;
            color: #0a3800;
            margin-bottom:  2rem;
        }
    } @else {
        h2 {
            color: #c92020;
        }
    }

}
@mixin article__text  {
    p {
        text-indent: 50px;
        text-align: justify;
        letter-spacing: 3px;
    }
}

@mixin text-overflow {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

