
@mixin article__title ($warning: false)  {
    @if $warning {
        h2 {
            text-align: center;
            text-transform: uppercase;
            color: #0a3800;
            margin-bottom:  2rem;
        }
    } @else {
        h2 {
            color: #c92020;
        }
    }

}
@mixin article__text  {
    p {
        text-indent: 50px;
        text-align: justify;
        letter-spacing: 3px;
    }
}

@mixin text-overflow {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

@mixin button-success($className) {
    .#{$className}__button {
        @include text-overflow();
        padding: 1rem;
        width: 17rem;

        border: none;
        font-family: 'Lato';
        font-size: inherit;
        color: inherit;
        background: none;
        cursor: pointer;
        display: inline-block;

        text-transform: uppercase;
        letter-spacing: 1px;
        font-weight: 700;
        outline: none;
        position: relative;
        -webkit-transition: all 0.3s;
        -moz-transition: all 0.3s;
        transition: all 0.3s;
    }

    .#{$className}__button:after {
        content: '';
        position: absolute;
        z-index: -1;
        -webkit-transition: all 0.3s;
        -moz-transition: all 0.3s;
        transition: all 0.3s;
    }

    /* Pseudo elements for icons */
    .#{$className}__button:before {
        font-family: 'FontAwesome';
        speak: none;
        font-style: normal;
        font-weight: normal;
        font-variant: normal;
        text-transform: none;
        line-height: 1;
        position: relative;
        -webkit-font-smoothing: antialiased;
    }

    /* Button 1 */
    .btn-1 {
        background: #3498db;
        color: #fff;
    }

    .btn-1:hover {
        background: #2980b9;
    }

    .btn-1:active {
        background: #2980b9;
        top: 2px;
    }

    .btn-1:before {
        position: absolute;
        height: 100%;
        left: 0;
        top: 0;
        line-height: 3;
        font-size: 140%;
        width: 60px;
    }

}

input {
    margin: 0em;
    padding: 1px 2px;
    border-width: 2px;
    border-style: inset;
    border-color: (rgb(118, 118, 118), rgb(133, 133, 133));
    border-image: initial;
}

button {
    box-sizing: border-box;
    background-color: #b8fcb8;
    margin: 0em;
    padding: 1px 6px;
    border-width: 2px;
    border-style: outset;
    border-color: darkgreen;
    border-image: initial;
}