@import "./src/common styles/commonStyles";

.content-container {
  /*height: calc(100% - var(--header-height) - var(--fotter-height) );*/
  .articles-blocks {
    height: max-content;
    width: 100%;
    background-color: grey;
    padding: 1rem;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1rem;
    img {
      width: 100px;
      height: 100%;
    }
    .articles-blocks__button {
      @include button-success("articles-blocks");
      align-self: start;
    }
  }
}



