.App {
    height: 100%;
    display: grid;
    grid-template-areas:
            "header"
            "content"
            "footer";
    grid-template-rows: var(--header-height) 1fr var(--fotter-height);
    grid-template-columns: 100%;
}

:root {
    --header-height: 10rem;
    --fotter-height: 5rem;
}

@media (max-width: 850px) {
    .App {
        grid-template-rows: 0 1fr var(--fotter-height);
        /*grid-template-areas:*/
        /*"content"*/
        /*"footer";*/
    }
}