@import url('https://fonts.googleapis.com/css?family=Ubuntu');
.header {
    /*height: var(--header-height);*/
    grid-area: header;
}
.container {
    background-color: rgba(135, 206, 235, 0.5);
    padding: 10px 5px;
    height: 100%;
    width: 100%;
    white-space: nowrap;
    /*overflow: hidden;*/

    display: flex;
    justify-content: flex-start ;
    align-items: center;

    gap: 10px 10px;
}
.item {
    list-style-type: none ;
    background-color: #ff99cc;
    padding: 0rem 2rem;
    text-decoration: none;
    font-size: 3rem;
    white-space: nowrap;
    display: block;

    order: 0;
    flex-basis: 20rem;
    flex-shrink: 1;
}
.item:nth-child(2) {
    flex-shrink: 3;
    order: 1;
}
.item:active {
    color: yellow;

}
.nav-panel-item:hover {
    font-family: 'Ubuntu', sans-serif;
    font-weight: bold;
    color: #fff;
    text-align: center;
    letter-spacing: 1px;
    text-shadow: 3px 3px 20px #ff99cc,
    -2px 1px 30px #ff99cc;
}
.invisible {
 display: none;
}
.mobile-menu{
    border-bottom: 5px solid black;
    height: 10px;
    width: 30px;
}
.invisible:hover {
    cursor: pointer;
}

@media (max-width: 850px) {
    .header {
        grid-area: footer;
    }
    .container {
        display: none;
    }
    .invisible {
        display: block;
    }
    .header {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}